{% extends 'layout.html' %}

{% block refresh %}

{% endblock %}

{% block style%}

{% endblock %}

{% block body %}
<body>

        <div class="container">
          <h3>Example</h3>
          <a href="#" 
            title="How to Fill Data" 
            data-toggle="popover" 
            data-trigger="hover" 
            data-content="Function ex: exp(x)+2 <br /> a=integer ex: 0 <br /> b=integer ex: 1<br /> nmax=integer ex: 100 <br />tol=integer ex: 1e-7"
            data-html="true">Help
        </a>
        </div>
        
        <script>
            $(document).ready(function(){
            $('[data-toggle="popover"]').popover();   
            });
        </script>
        
</body>
{% endblock %}
