<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Incremental Search
    </ion-title>
    <img src="assets/img/clipart2854320.png" style="width:35px;height:35px;" slot="end">
  </ion-toolbar>
</ion-header>


<ion-content padding>
      
    <ion-item>
      <ion-label position="fixed">Enter f(x) = </ion-label>
      <ion-input [(ngModel)]="eq" autofocus></ion-input>
      <a (click)="showModal()">
          <ion-icon name="help-circle"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter initial <strong>x</strong> value</ion-label>
      <ion-input [(ngModel)]="x0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter delta</ion-label>
      <ion-input [(ngModel)]="delta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter tolerance</ion-label>
      <ion-input [(ngModel)]="tol"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter max iterations</ion-label>
      <ion-input [(ngModel)]="nmax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter precision</ion-label>
      <ion-input [(ngModel)]="prec"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button slot="end" size="default" color="primary" (click)="incremental()">
        Evaluate
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Result</ion-label>
      <ion-textarea [(ngModel)]="result" readonly></ion-textarea>
    </ion-item>
</ion-content>

