<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Grapher
    </ion-title>
    <img src="assets/img/clipart2854320.png" style="width:35px;height:35px;" slot="end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Enter f(x) = </ion-label>
    <ion-input id="eq"></ion-input>
    <ion-button size="small" color="primary">Graph</ion-button>
  </ion-item>
  <div id="plot"></div>
</ion-content>