Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
gunicorn==19.9.0
helpers==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mpmath==1.1.0
numpy==1.22.0
pandas==0.24.2
prettytable==0.7.2
psycopg2==2.8.2
python-dateutil==2.8.0
python-dotenv==0.10.2
pytz==2019.1
six==1.12.0
sympy==1.4
Werkzeug==0.15.4
WTForms==2.2.1
